AGENT__HOST=localhost
AGENT__PORT=8000
AGENT__WORKSPACE=
AGENT__LOGLEVEL=DEBUG
AGENT__LOG_TO_FILE=false
AGENT__CONTEXT7_API_KEY=<change_me>

LLM__CHAT__HOST=localhost
LLM__CHAT__PORT=30001
LLM__CHAT__MODEL_NAME=ai-sage/GigaChat3-10B-A1.8B
LLM__CHAT__API_KEY=fake_key
LLM__CHAT__TEMPERATURE=0.2

LLM__CODER__HOST=localhost
LLM__CODER__PORT=30002
LLM__CODER__MODEL_NAME=Qwen/Qwen2.5-Coder-7B-Instruct-AWQ
LLM__CODER__API_KEY=fake_key
LLM__CODER__TEMPERATURE=0.0

# LangFuse
LANGFUSE__SECRET_KEY=<change_me>
LANGFUSE__PUBLIC_KEY=<change_me>
LANGFUSE__BASE_URL=http://localhost:3000
POSTGRES_USER=langfuse
REDIS_AUTH=<change_me>

HF_TOKEN=<change_me>
